/* .ProductsView .container {
    width: min(80%, 1200px);
    margin: auto;
} */

.ProductsView {
    padding-top: 12rem;
    padding-bottom: 10rem;

}
.ProductsView .category {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

.ProductsView .category-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.ProductsView .category h3{
    cursor: pointer;
}


/* -- CATEGORY -- */

.ProductsView .link.active {
    background: var(--primary-clr);
    color: #fff;
    border: 1px solid var(--primary-clr);
    font-weight: 100;
}

/* -- ALLERGIES --- */

.ProductsView .allergies-wrap {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* margin-bottom: 2rem; */
}

.ProductsView .allergies-icon {
    margin-right: 1rem;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: #000;
}

.ProductsView .allergies-icon.active {
    border: 2px solid #000;
}

.ProductsView .gluten {
    background-color: #FBB117;
}

.ProductsView .lactose {
    background-color: #187bcd;
}

.ProductsView .vegan {
    background-color: #4c9a2a;
}


.ProductsView .info-text {
    text-align: center;
    margin-top: 1rem;
}


.ProductsView .tooltiptext {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;

    position: absolute;
    z-index: 1;
    top: 2.1rem;
    left: -.5rem;
}

.ProductsView .allergies-icon:hover > .tooltiptext {
    visibility: visible;
}

.ProductsView .flex-div {
    margin-bottom: 2rem;
}

.ProductsView .header-div h1 {
    margin-top: 1rem;
    color: var(--primary-clr);
    font-family: var(--yeseva-header-font);
    text-transform: uppercase;
    font-size: 2.5rem;

}



/* ---- HIGHLIGHT ---- */

.ProductsView .highLight {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 6px,  rgb(0, 0, 0) 0px 0px 0px 8px;
}


@media (min-width: 992px) {
    .ProductsView .flex-div {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 3rem;
    }

    .ProductsView .header-div h1 {
        margin-top: 0;
    }
}