.ProductCard {
    background: var(--secondary-clr);
    height: 285px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ProductCard .img-wrapper {
    width: 90%;
    margin: auto;
    height: 60%;
    margin-top: 12px;
}
.ProductCard .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.ProductCard .text-div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32%;
}

.ProductCard .top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .5rem;
}

.ProductCard .title {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    color: var(--primary-clr);
}

.ProductCard .price {
    font-size: .8rem;
}

.ProductCard .desc {
    color: var(--primary-clr);
    font-size: .8rem;
}
