.styled-scrollbars {
    scrollbar-color: rgb(255, 255, 255) #333;
}

::-webkit-scrollbar {
    height: 5px;
    width: 9px; 
}


::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--primary-clr);
    border-radius: 5px;
}

::-webkit-scrollbar-track { /* Background */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;

}

.Filter .pt{
    padding-top: 2rem;
}

.Filter .mb-2 {
    margin-bottom: 2rem;
}

.Filter .categories{
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    height: 100%;
    padding-block: 1rem;
    
}

.Filter li {
    list-style: none;
}

.Filter .nobreak {
    white-space: nowrap;
}

.Filter .category {
    background-color: #fff;
    padding: .5rem;
    margin-right: 1rem;
    color: var(--primary-clr);
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 2px;
}

.Filter .category:hover {
    background: var(--primary-clr);
    color: #fff;
    border: 1px solid var(--primary-clr);
    font-weight: 100;
}


.Filter .active {
    background: var(--primary-clr);
    color: #fff;
    border: 1px solid var(--primary-clr);
    font-weight: 100;
} 

.Filter .highLight {
    background-color: var(--secondary-clr);
    border: 1px solid var(--secondary-clr);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.Filter .snaps-inline {
    scroll-snap-type: inline mandatory;
}

.Filter .snaps-inline > * {
    scroll-snap-align: start;
}
