.Card {
    background: var(--secondary-clr);
    height: 285px;
}

.Card .img-wrapper {
    width: 90%;
    margin: auto;
    height: 60%;
    margin-top: 12px;
}
.Card .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.Card .text-div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32%;
}

.Card .top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .5rem;
}

.Card .title {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    color: var(--main-dark);
}

.Card .price {
    font-size: .8rem;
}

.Card .desc {
    color: var(--primary-clr);
    font-size: .8rem;
}
