.Navbar {
    border-right: 11px solid var(--secondary-clr);
    border-left: 11px solid var(--secondary-clr);
    background: var(--background-clr);
    padding-block: .5rem;
}

.Navbar.shadow {
    /* ! ÄNDRA box-shadow?!?!? */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.Navbar img {
    border: 5px solid var(--background-clr);
    border-radius: 50%;
    position: absolute;
    top: 3.5rem;
    height: 140px;
    left: calc(50% - 70px);
    user-select: none;
    opacity: 100;
    display: block;
    
    transition: all 250ms ease-in;
}

.Navbar img.small-logo {
    opacity: 0;
    /* user-select: none; */
    display: none;
}

.Navbar .bars,
.Navbar .close {
    color: var(--primary-clr);
    font-size: 2rem;
    cursor: pointer;
}

.burger {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
}

.burger span {
    width: 100%;
    height: 3px;
    background: var(--primary-clr);
    transition: all 250ms;

}

.burger.open span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    width: 2.2rem;
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    width: 2.2rem;
}

.Navbar .nav-content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    /* z-index: 5; */
}

.Navbar .left-nav-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: .3rem;
}

.Navbar .open-hours {
    color: var(--black-clr);
    font-weight: bold;
    font-size: .7rem;
    margin-bottom: .2rem;
    user-select: none;
}

.Navbar .btn-order {
    background: var(--primary-clr);
    color: var(--background-clr);
    font-size: .7rem;
    user-select: none;
}

.Navbar .menu-margin {
    display: none;
}

.Navbar .menu-hours {
    visibility: hidden;
}


/* ---------- NAVIGATION MENU -------------- */

.NavMenu {
    background: var(--background-clr);
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
}

.NavMenu .menu-container {
    width: 70%;
    margin: 1rem auto;
}

.NavMenu .nav-links {
    display: inline;
    list-style: none;
    user-select: none;
}

.NavMenu .link {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-clr);
    display: inline-block;
    margin-bottom: 1rem;
    padding: .5rem;
    position: relative;
    width: 135px;
}

.NavMenu .link p {
    display: inline;
}

.NavMenu .link.active p::before {
    content: url('../../Images/menu-wheat.png');
    position: absolute;
    bottom: 0;
    left: -1.5rem;
}

.NavMenu .nav-links:hover .link:not(:hover) {
    color: var(--secondary-clr);
}




/*------ TABLET/LAPTOP ---------*/


@media (min-width: 890px) {

    .Navbar .bars,
    .Navbar .close {
        font-size: 2.5rem;
    }
    
    .Navbar .btn-order {
        font-size: .8rem;
    }

    .Navbar img {
        border: 10px solid var(--background-clr);  
        top: 1rem;
        height: 220px;
        left: 50%;
        transform: translate(-50%);
        z-index: 5;

        transition: all 500ms ease-out;
    }

    /* .Navbar img.small-logo {
        opacity: 100;
        top: 1.5rem;
        height: 120px;
        border: 5px solid var(--background-clr);  
    } */
    
    .Navbar .menu-margin {
        display: block;
    }

    .Navbar .menu-hours {
        visibility: visible;
    }
    
    /* ---------- NAVIGATION MENU -------------- */
    
    .NavMenu {
        height: 250px;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 15px 10px -15px rgba(17, 17, 17, 0.285); 
    }

    .overflow-hidden {
        overflow: hidden;
    }
 
    .NavMenu .menu-container {
        width: min(90%, 1200px);
    }

    .NavMenu .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .NavMenu .link {
        text-align: center;
    }
    

    .NavMenu .link.active p::before {
        content: '';
    }


}