.ContactView {
    padding: 16rem 0 4rem 0;
}

/* .ContactView .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} */




/* ------- FORM --------- */

.ContactView form {
    width: min(80%, 500px);
    margin: 2rem auto;
}

.ContactView label {
    display: inline-block;
    color: var(--primary-clr);
    font-weight: bold;
    margin: 1rem 0 .3rem 0;
}

.ContactView input,
.ContactView textarea,
.ContactView select {
    width: 100%;
    resize: none;
    padding: .5rem .8rem;
    border-radius: 3px;
    border: 1px solid var(--secondary-clr);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-clr);
    color: var(--main-dark);
}
.ContactView input:focus,
.ContactView, textarea:focus {
    outline: 2px solid var(--primary-clr);
}

.ContactView .btn-online {
    width: 100%;
    margin-top: 1rem;
}

.ContactView .top-header {
    text-align: center;
    font-family: var(--yeseva-header-font);
    color: var(--primary-clr);
    margin-top: 1rem;
}