.OrderView .img-div {
    height: 70vh;
    width: 100%;
    position: relative;
    margin-top: 3rem;
}

.OrderView .img-div img {
    object-fit: cover;
    object-position: bottom 20px;
    width: 100%;
    height: 100%;
}

.OrderView .img-div:before {
    content: '';
    background-image: linear-gradient(to top, rgba(239,239,239,255), rgba(239, 239, 239, 0.082));
    position: absolute;
    height: 100px;
    right: 0;
    bottom: 0;
    left: 0;
  }

.OrderView h1 {
    text-align: center;
    font-family: var(  --yeseva-header-font);
    color: var(--secondary-clr);
    margin-top: 1rem;
}

.OrderView .text-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2.2rem 0 2rem 0;

}

.OrderView .text-div p {
    text-align: center;
    color: var(--primary-clr);
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.OrderView p.p {
    font-size: .8rem;
    margin-top: .6rem;
}

.OrderView .small {
    font-size: .8rem;
    text-align: center;
    padding-bottom: 4rem;
}

.OrderView .link {
    color: black;
    text-decoration: underline;
}

.OrderView .btn-online {
    margin-top: 1rem;
    width: min(100%, 500px);
}



